{% extends "layout.html" %}
{% block content %}

<!--
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">Pay your bill</a></h2>
            <p class="article-content">you have to pay this month bill</p>
          </div>
        </article>
    {% endfor %}
-->
{% if status %}

    <table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Group</th>
      <th scope="col">Branch</th>
      <th scope="col">Node</th>
      <th scope="col">Last Online</th>
    </tr>
  </thead>
  <tbody>
          {% for stat in status %}
            <tr>
              <td>{{ stat.node.branch.group.branch_group_name }}</td>
              <td>{{ stat.node.branch.branch_name }}</td>
              <td>{{ stat.node.node_name }}</td>
              <td>
              {% if stat.last_online %}{{ stat.last_online.strftime('%d/%m/%Y  %I:%M:%S %p') }}
              {% else %}
              <span> - </span>
              {% endif %}
            </td>
            </tr>
            {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-dark" role="alert">
  <h4 class="alert-heading">No records to display !</h4>
  <p>Add Nodes to the system</p>
</div>
{% endif %}

{% endblock content %}

{% block rightContent %}
<div class="col-md-4"> <!-- this div tag is important -->

          <div class="content-section">
            <h3>Upcoming Schedules</h3>
            {% if ad_hc_schedule %}
            <p class='text-muted'>Following Ad-hoc schedules will be played today,
              <ul class="list-group">
                {% for up_sc in ad_hc_schedule %}
                <li class="list-group-item list-group-item-light">{{ up_sc.addhoc_name}} - {{up_sc.start_time}} To {{up_sc.end_time}} on </li>
                {% endfor %}
              </ul>
            </p>
            {% else %}
            <p class='text-muted'> No Schedules</p>
            {% endif %}
          </div>


<!--           <div class="content-section">
            <h3>Recent Actions</h3>
            {% if actions %}
              <ul class="list-group">
                {% for ac in actions %}
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div> -->
</div>
{% endblock rightContent %}
