<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pro.css') }}">

    {% if title %}
        <title>Signage - {{ title }}</title>
    {% else %}
        <title>Signage</title>
    {% endif %}

<style type="text/css">
  
body {
  font-size: .9rem !important;

  }
</style>


</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
         
          <img src="{{url_for('static', filename='images/logo.png')}}" height="40" /> &nbsp; 

          <a class="navbar-brand mr-4" href="/">Admin Console</a>
          {% if current_user.is_authenticated %} 
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home')}}">Home</a>
		<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Configuration
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ url_for('branch_group_function')}}">Group</a>
              <a class="dropdown-item" href="{{ url_for('branch') }}">Branch</a>
              <a class="dropdown-item" href="{{ url_for('node') }}">Node</a>
                <hr>
              <a class="dropdown-item" href="{{url_for('user')}}">Users</a>
                <hr>
              <a class="dropdown-item" href="{{ url_for('settings')}}">Settings</a>
              <a class="dropdown-item" href="{{ url_for('actions')}}">Actions</a>
            </div>
      </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Content
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ url_for('media')}}">Media</a>
              <a class="dropdown-item" href="{{ url_for('playlist')}}">Playlist</a>
              <!-- <a class="dropdown-item" href="{{ url_for('template')}}">Template</a> -->
            </div>
      </li>



		<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Schedule
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ url_for('defaultSchedule') }}">Default Schedule</a>
              <!-- <a class="dropdown-item" href="#">Default Template</a> -->
              <a class="dropdown-item" href="{{url_for('adhocschedule')}}">Ad Hoc Schedule</a>
            </div>
      </li>


	<!-- 	<a class="nav-item nav-link" href="{{ url_for('news')}}">News</a>
		<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Reports
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">User Reports</a>
            </div>
      </li>
 -->            </div>


            <!-- Navbar Right Side -->
            <div class="navbar-nav">
		<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ current_user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ url_for('logout')}}">Logout</a>
              <a class="dropdown-item" id="theme-toggle">☀️ / 🌙 </a>

            </div>
      </li>

            </div>
          </div>
          {% endif %}
        </div>
      </nav>


    </header>
    <main role="main" class="container">
      <div class="row">
        {% if title == 'Home' %}
          <div class="col-md-8">
        {% else %}
          <div class="col-md-12">
        {% endif %}

          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                  
                </div>
                  
              {% endfor %}
            {% endif %}
          {% endwith %}

          {% block content %}{% endblock %}
        </div>


        
          {% block rightContent %}{% endblock rightContent %}




      </div>
    </div>

    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}" ></script>
  <script src="{{ url_for('static', filename='js/upload.js') }}"></script>


  <script>
    const toggleButton = document.getElementById('theme-toggle');
    const currentTheme = localStorage.getItem('theme');

    if (currentTheme) {
        document.documentElement.setAttribute('data-theme', currentTheme);
    }

    // Toggle theme on button click
    toggleButton.addEventListener('click', () => {
        let theme = document.documentElement.getAttribute('data-theme');
        if (theme === 'dark') {
            document.documentElement.setAttribute('data-theme', 'light');
            localStorage.setItem('theme', 'light');
        } else {
            document.documentElement.setAttribute('data-theme', 'dark');
            localStorage.setItem('theme', 'dark');
        }
    });
</script>


</body>
</html>
