{% extends "layout.html" %}
{% block content %}

<div class="container mt-3">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-3">
    <h2 class="mb-3 mb-md-0">Settings</h2>
    <a class="btn btn-info btn-sm" href="{{ url_for('settings')}}">Go Back</a>
  </div>
  <hr>


  
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="content-section">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Update Settings</legend>

            <div class="mb-3">
              {{ form.time_zone.label(class="form-label") }}
              <select class="form-select" name="time_zone" required>
                <option value="">Open this select menu</option>
                {% for pytz in pytz_data %}
                  <option value="{{ pytz }}" {% if pytz == form.time_zone.data %} selected {% endif %}>{{ pytz }}</option>
                {% endfor %}
              </select>
              {% for error in form.time_zone.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
            </div>

            <div class="mb-3">
              {{ form.download_stop.label(class="form-label") }}
              {{ form.download_stop(class="form-control", type="time", step="2") }}
              {% for error in form.download_stop.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
            </div>

            <div class="mb-3">
              {{ form.download_start.label(class="form-label") }}
              {{ form.download_start(class="form-control", type="time", step="2") }}
              {% for error in form.download_start.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
            </div>

            <div class="mb-3">
              {{ form.image_duration.label(class="form-label") }}
              {{ form.image_duration(class="form-control", type="number", min=1, max=60) }}
              {% for error in form.image_duration.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
            </div>

            <div class="mb-3">
              {{ form.file_size_limit.label(class="form-label") }}
              {{ form.file_size_limit(class="form-control", type="number", min=1, max=2048) }}
              {% for error in form.file_size_limit.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
            </div>

            <div class="mb-3">
              {{ form.file_size_limit_total.label(class="form-label") }}
              {{ form.file_size_limit_total(class="form-control", type="number", min=1, max=5120) }}
              {% for error in form.file_size_limit_total.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
              {% endfor %}
            </div>

            <!-- Buttons -->
            <div class="d-flex flex-column flex-sm-row" style="gap: 4px;">
              {{ form.submit(class="btn btn-info flex-fill") }}
              <a class="btn btn-secondary flex-fill" href="{{ url_for('settings')}}" >Cancel</a>
            </div>


          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
